
$backgroundStartColor: #F8F8F8;
$backgroundStopColor: #FFFFFF;
$borderColor: #D9FFF5;

.section-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 10px;
    height: 88px;

    background-image: linear-gradient(to right, $backgroundStartColor, $backgroundStopColor);
    border-top: 1px solid $borderColor;
}